<?xml version="1.0" encoding="UTF-8"?>
<!--
    status="OFF" 日志框架本身的输出日志级别
    日志级别：ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF
    monitorInterval="60" 自动加载配置文件的间隔时间，不低于 60 秒
-->
<Configuration status="OFF" monitorInterval="60">
    <!--集中配置属性进行管理 使用时通过：${name}-->
    <properties>
        <property name="LOG_HOME">/logs</property>
        <property name="FILE_NAME">edgeLog</property>
    </properties>
    <!--日志处理-->
    <Appenders>
        <!--控制台输出 appender-->
        <!--SYSTEM_ERR表示输出字体为红色，SYSTEM_OUT表示输出字体为黑色-->
        <Console name="Console" target="SYSTEM_ERR">
            <!--
                日志输出格式：
                %d{patter} 日期
                %m 信息
                %M 方法
                %L 行号
                %c 类的完整名称
                %t 线程名称
                %-5level 表示日志级别占5个字符，不足向左对齐
                %n 换行
            -->
            <!--ThresholdFilter指定日志消息的输出最低层次-->
            <ThresholdFilter level="ALL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n" />
        </Console>

        <!--输出为循环日志文件-->

        <!--正常信息记录-->
        <RollingRandomAccessFile name="INFO" fileName="logs/${FILE_NAME}.log" filePattern="logs/${FILE_NAME}_%d{yyyy-MM-dd}_%i.log">
            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <!--错误信息记录-->
        <RollingRandomAccessFile name="ERROR" fileName="logs/${FILE_NAME}-ERROR.log" filePattern="logs/${FILE_NAME}-ERROR_%d{yyyy-MM-dd}_%i.log">
            <Filters>
                <ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <!--系统级别的错误信息-->
        <RollingRandomAccessFile name="FATAL" fileName="logs/${FILE_NAME}-FATAL.log" filePattern="logs/${FILE_NAME}-FATAL_%d{yyyy-MM-dd}_%i.log">
            <Filters>
                <ThresholdFilter level="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <!--全部日志信息-->
        <RollingRandomAccessFile name="ALL" fileName="logs/${FILE_NAME}-ALL.log" filePattern="logs/${FILE_NAME}-ALL_%d{yyyy-MM-dd}_%i.log">
            <Filters>
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%-5level] %c{36}:%L --- %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingRandomAccessFile>

        <!--配置异步写日志-->
        <Async name="Async">
            <AppenderRef ref="ALL"/>
        </Async>

    </Appenders>
    <!--logger 定义-->
    <Loggers>
        <!--自定义的logger-->
        <!--name为自定义logger使用的路径,additivity表示自定义logger是否继承父类-->
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!--配置root logger-->
        <Root level="trace">
            <Appender-Ref ref="Console"/>
            <Appender-Ref ref="INFO"/>
            <Appender-Ref ref="ERROR"/>
            <Appender-Ref ref="FATAL"/>
            <Appender-Ref ref="ALL"/>
        </Root>
    </Loggers>

</Configuration>